@font-face {
  font-family: "dark";
  src: url("/fonts/sakura.ttf") format("truetype");
}

@font-face {
  font-family: "light";
  src: url("/fonts/sunflower.ttf") format("truetype");
}

@font-face {
  font-family: "main";
  src: url("/fonts/bahnschrift.ttf") format("truetype");
}
